body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #87cefa;
}

.card{
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: #000000; 
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}

.timer-text {
    font-size: 32px;
    font-weight: bold;
}

.input-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container input{
    padding:10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
}

.button {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons button{
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    
}

.buttons button:hover {
    background-color: #45a049;
}